{%extends 'layouts.html'%}
{% block title %}
Bicycle stations
{%endblock%}
{% block content %}
<div class = "features">
    <h1>All velostations</h1>
    {% if user.is_staff %}
        <a href="{% url 'add_station' %}" class = "btn btn-outline-success">Add velostation</a>
        {%endif%}
    <br>
    <br>
    {%for station in bikeStations%}
    {% if user.is_staff %}
    <a href="{% url 'stationActions' station.id 'update' %}" class = "btn btn-outline-info"><iconify-icon icon="grommet-icons:update" width="44" height="44"></iconify-icon></a>
    {%endif%}
    <a href="{% url 'bicycles' station.id %}" class = "btn btn-outline-light"><h3>{{station.name}} </h3></a>
    {% if user.is_staff %}
        <a href="{% url 'stationActions' station.id 'delete' %}" class = "btn btn-outline-danger" ><iconify-icon icon="fluent-mdl2:cancel" width="44" height="44"></iconify-icon></a>
    {%endif%}
    <br><br>
    {%endfor%}
</div>
{%endblock%}